    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-titl">
          <h2>ADD CHOIR MEMBER TO THE DATABASE</h2>
        </div>

        <div class="row mt-1 d-flex justify-content-center" data-aos="fade-right" data-aos-delay="100">

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">

            <%= form_for(:member, url: add_member_path, html: {class: "php-email-form"}) do |f| %>
              <div class="row">
                <div class="col-md-6 form-group">
                    <%= f.text_field :firstname ,class:'form-control', placeholder:'First Name', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.text_field :lastname ,class:'form-control', placeholder:'Last Name', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.text_field :contact ,class:'form-control', placeholder:'Contact', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.text_field :cellnumber ,class:'form-control', placeholder:'Cell Number', :required => true%>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.select(:celebrationpoint, [
                      'select your celebration point',
                      'kansanga','downtown',
                      'bweyogerere','kyengera',
                      'Lubowa', 'entebbe', 'gulu',
                      'bugolobi', 'juba', 'mbarara'
                      ], {}, :class => "form-control") %>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <%= f.select(:voice, [
                      'select your voice',
                      'tenor','soprano',
                      'alto','base',
                      'baritone'
                      ], {}, :class => "form-control") %>
                </div>
              </div>
              <div class="my-3">
                <p class="alert text-danger"><%= alert %></p>
              </div>
              <div class="text-center"><button type="submit">Add Choir Member</button></div>
              <% end%>
         
          </div>

        </div>

      </div>
    </section>